# Slyce Backend Automation Config

# The private key of the wallet that will sponsor transactions
ADMIN_SECRET_KEY="suiprivkey1..."

# Contract IDs
PACKAGE_ID="0xc389c65936a6b8da4b673098b86ab23bd001c3ee67401d207ba847fe29bfa15c"
PROTOCOL_CONFIG_ID="0x27a5c2f24ef07fc81903f5b31cf460ffb3a650226e4cac61bfbd9694c224e1f3"

# Network
NETWORK="testnet" # or mainnet, devnet, localnet
